body{
    background-color: black;
    color: rgb(196, 5, 5);
}
button{
    background-color: blue;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

h1, button{
    border: 2px dashed rgb(35, 2, 7);

}

.my-loving-button{
    background-color: bisque;
    animation: 1s ease-in;
}

.my-loving-button:hover{
    scale: 1.2;
    transition: 1s ease-in;
}
 
.my-pookie-batch{
    color:blue;
}

#penguin{
    color:black;
}