.color-red{
    color:red;
}

.color-white{
    color: white;
}

.font-bold{
    font-weight: bold;
}

.font-normal{
    font-weight: 400;
}

.bg-pink{
    background-color: pink;
}

.bg-green{
    background-color: green;
}

/*Talwinder CSS..............SHADCN */
.p-1{
    padding: 10px;
}

.p-2{
    padding: 20px;
}

.p-3{
    padding: 30px;
}